.icon{
    width: 9dvw;
    height: 9dvh;
    display: inline-block;
}

.job-item{

}

.job-title{
    white-space:nowrap;

    justify-self: flex-start;
}
.years{
    white-space: nowrap;
}
.company{

}

.location{

}
.job-description{

}