

.icon {
  width: 9dvw;
  display: inline-block;
  max-width: 100px;
}

.job-item, .edu-item {
  flex-wrap: wrap;
  list-style: none;
  margin: 2dvw;
  
}


.li-top,
.li-bot {
  display: flex;
  justify-content: space-between;

}

.job-item:nth-child(even) .job-description {
  text-align: right;
}
.job-item:nth-child(odd) .job-description {
  text-align: left;
}
.education-container{
  a{
    color: inherit;
    font-style: italic;
    transition: all .3s ease;
    &:hover{
      filter: drop-shadow(0 0 3px white);
    }
  }
}