.icon {
  width: 9dvw;
  height: 9dvh;
  display: inline-block;
}

.job-item, .edu-item {
  flex-wrap: wrap;
  list-style: none;
  margin: 2dvw;
  
}

.title,
.years,
.company,
.location,
.cert
 {
  white-space: nowrap;
}

.li-top,
.li-bot {
  display: flex;
  justify-content: space-between;

}

.job-item:nth-child(even) .job-description {
  text-align: right;
}
.job-item:nth-child(odd) .job-description {
  text-align: left;
}
