.exit {
  position: fixed;
  top: 1dvh;
  left: 1dvw;
  z-index: 1000;
  color: black;
  width: fit-content;
  height: fit-content;
}
.game-btn {
  animation: pulse 1s infinite alternate;
  max-width: 30%;
  align-self: center;
}

#game {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.no-point{
  pointer-events: none;
  user-select: none;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}
