

.logo {
  position: fixed;
  top: 0;
  right: 2dvw;
  z-index: 9;
  height: 4.2em;

 display: flex;
    align-items: center;
    justify-content: center;
  img{
   
   width: 3em;
   height: 3em;
    filter: invert(90%);
  }
}

@media (max-width: 430px) {
  .logo{
    img{
      width: 2em;
      height: 2em;
    }
  }
}
