@keyframes flip {
  0%{
    transform: rotate(0%);
  }
  100%{
    transform: rotate(180%);
  }
  
}

.logo {
  position: fixed;
  top: 0;
  right: 2dvw;
  z-index: 9;
  height: 4.2em;

 display: flex;
    align-items: center;
    justify-content: center;
    
   
    
}
.logo:active{
       animation: flip .5s;
    }
.icon{
  color: inherit;
  width: 2em;
  height: 2em;
}
