.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 4.2em;
  z-index: 1;
  width: 100%;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 10px 10px;
  transition: all .5s;
}

.pages {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  scroll-snap-type: y proximity;
}

.page {
  min-width: 320px;
  max-width: 1000px;
  margin-top: 1em;
  padding: 1em; //! MAY NEED TO ADJUST
  min-height: 100dvh;
  scroll-snap-align: start end;
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (max-width: 430px) {
  .header {
   
    .main-title {
      font-size: 2em;
      top: 2dvh;
    }
    .icon{
      width: 1em;
      height: 1em;
    }
  }
  .support-title {
    font-size: large;
  }
}

.footer {
  min-height: 80px;
  display: flex;
  justify-content: center;
  .copyright {
    position: absolute;
    font-weight: 400;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

#video {
  filter: brightness(var(--bright)) contrast(var(--cont)) opacity(var(--opacity)) ;
  position: fixed;
  top: -5%;
  left: -1%;
  z-index: -1;
  width: 110%;
  height: 110%;
  overflow: hidden;
  object-fit: cover;
  transition: filter 1s;
}

.invisible-comp > * {
  opacity: 0;
  //transform: translateY(50px);
  transition: all 1s ease-out;
  transition-delay: 0.2s;
  pointer-events: none;
}

.visible-comp > * {
  opacity: 1;
  //transform: translateY(0);
  transition: all 1s ease-out;
  transition-delay: 0.2s;
}
