.header{
    position: fixed;
    top:0;
    left:0;
    height: 4.2em ;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px black;
}

.pages{
    max-width: 1300px;
    margin:0 auto;
}

.page{
    padding-top: 6dvi;
}