

ul{
    list-style: none;
    padding: 0;
}
.project-container{
    width: inherit;
    overflow: scroll;

}

.project-track{

 display: flex;
 gap: 2dvw;

}

.project-item{
  
    & > img{
        width: 30dvw;
        height: 30dvh;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;

    }
}


@media (max-width: 356px) {
    .project-track{
        display: block;
    }
}