.ud {
  position: absolute;
  color: red;
  filter: opacity(0.5);
  transform: rotate(15deg);
  border: 1px solid red;
  border-radius: 3px;
  z-index: 1;
  pointer-events: none;
}

.projects-container {
  margin: 0;
  overflow: hidden;
  //height: 90dvh;
}
//!need to look at
.projects-container.expanded{
  overflow: visible;
}

#project-track {
  margin:0;
  display: flex;
  position: relative;
  gap: 1vmin;
  width: fit-content;
  user-select: none;
  transition: transform 1000ms;
  animation-fill-mode: forwards;
}
//! need to look at
#project-track-expanded{
  display: block;
  width: 100%;
  transform: none !important;
}

.pro-image {
  position: absolute;
  user-select: none;
  flex: 0 0 auto;
  transition: all 1000ms;
  animation-fill-mode: forwards;
}



.project-item {
  flex: 0 0 auto;
  display: block;
  width: 30vmin;
  height: 50vmin;
  background-position: 100% center;
  background-size: cover;
  text-shadow: 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black,
    0px -1px 1px black;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transform: translate(0%);
  .pro-image {
      position: absolute;
    user-select: none;
    flex: 0 0 auto;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: object-position 1000ms;
    animation-fill-mode: forwards;
  }
}

.project-content {
  opacity: 0;
  padding: 0;
  max-height: 0;
  transition: opacity 0.5s ease-in-out 0.5s, max-height 0.5s ease-in-out,
    padding 0.5s ease-in-out;
}

.primary {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  //border-radius: 0%;
  backdrop-filter: blur(2px);
  p,
  h2 {
    font-weight: bolder;
    backdrop-filter: blur(1px);
    margin-bottom: 5dvh;
  }

  .project-content {
    position: relative;
    opacity: 1;
    max-height: 100vh;
    max-width: 500px;
    padding: 2dvi;
  }
  .pro-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.hide{
  display:none;
}
.secondary {
  .pro-btn, .btn, p {
    display: none;
  }
  .project-content {
    opacity: 0;
    max-height: 0;
    padding: 0;
  }

  
}

@media (max-width: 400px) {
  #project-track {
    display: block;
    width: 100%;
  }
  .project-item {
    width: 100%;
    margin-bottom: 5dvh;
    border-radius: 10px;
    
    .pro-image{
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .primary{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

    padding: 0;
  
    backdrop-filter: blur(2px);
    .pro-image{
      height: auto;
    }
  }
}
