.main-title {
  text-align: start;
  font-size: 4em;
  white-space: nowrap;
  top: 0dvh;
  left: 1dvw;
  position: relative;
  transform-style: preserve-3d;
}

.title-container {
  position: fixed;
  display: flex;
  z-index: 10;
  transform-style: preserve-3d;
}
