.headshot{
    width: 50dvw;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.696);
    max-width: 500px;
}

.link-list{
    display: inline-flex;
    flex-wrap: wrap;
}
