.clock{
    position: fixed;
    left: 1dvw;
    bottom:1dvh;
    z-index: 10;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    padding: 5px;
}

.mask{
    overflow: hidden;

}

.port{
    margin:0;
  transform: translateY(-110%);
  animation: slideDown1 1.5s .5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes slideDown1 {
    to{
        transform:translatex(0);
    }
    
  }