.nav ul, .nav ul li {
    list-style: none;
   padding: 0;
   margin:0;
}

.nav{
    position: fixed;
    display: flex;
    bottom:1vh;
    right:1vw;
    z-index: 10;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.696);
    padding: 2dvi;
    min-width: 50px;
    min-height: 50px;
    transition: all 1s ease-in-out;
    .menu-div{
        margin-inline:4px;
        width: 10px;
        height: 80cap;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.696);
        z-index: 30;
        border-radius: 20%;
    }
    ul{
        display: none;
    }

&:hover{
    
    .menu-div{
        display: none;
    }

    ul{
        opacity: 1;
        display: flex;
        flex-direction: column;
        max-height: fit-content;
    }
    


    ul:hover > .nav-link{
    opacity: 0.3;
}

  ul:hover > .nav-link:hover{
    opacity: 1;
}

.nav-link{
    transition: opacity 400ms ease;
}
ul{
    transition: opacity 400ms ease;
}
    }

}



.nav-link:active{
    filter: drop-shadow( 1px 1px 10px white);
}
.nav button{
    width: 100%;
    margin-top: 5px;
}