.nav ul, .nav ul li {
    list-style: none;
   padding: 0;
   margin:0;
}

.nav{
    position: fixed;
    display: flex;
    bottom:5vh;
    right:5vw;
    z-index: 10;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.696);
    padding: 2dvi;
}

ul:hover > .nav-link{
    opacity: 0.3;
}

  ul:hover > .nav-link:hover{
    opacity: 1;
}

.nav-link{
    transition: opacity 400ms ease;
}
ul{
    transition: opacity 400ms ease;
}

.nav-link:active{
    filter: drop-shadow( 1px 1px 10px white) invert(100%);
}
.nav button{
    width: 100%;
    margin-top: 5px;
}